<nav id="bottom-navbar" class="navbar navbar-expand-lg custom-navbar fixed-bottom" style="box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);">
  <div class="container-fluid px-2 py-1">
    <ul class="navbar-nav d-flex flex-nowrap justify-content-center align-items-center w-100 list-group list-group-horizontal">
      <li class="nav-item mx-2">
        <%= link_to root_path, class: "nav-link text-center" do %>
          <i class="bi bi-house-door h2 text-light"></i>
          <span class="d-block text-center text-light">ホーム</span>
        <% end %>
      </li>
      <li class="nav-item mx-2">
        <%= link_to posts_path, class: "nav-link text-center" do %>
          <i class="bi bi-search h2 text-light"></i>
          <span class="d-block text-center text-light">サーチ</span>
        <% end %>
      </li>
      <li class="nav-item mx-2">
        <%= link_to new_post_path, class: "nav-link text-center" do %>
          <i class="bi bi-pencil-square h2 text-light"></i>
          <span class="d-block text-center text-light">ポスト</span>
        <% end %>
      </li>
      <li class="nav-item mx-2">
        <%= link_to favorites_posts_path, class: "nav-link text-center" do %>
          <i class="bi bi-map h2 text-light"></i>
          <span class="d-block text-center text-light">マップ</span>
        <% end %>
      </li>
    </ul>
  </div>
</nav>