<nav id="bottom-navbar" class="navbar navbar-expand-lg navbar-warning bg-warning fixed-bottom">
  <div class="container-fluid px-2 py-1">
    <ul class="navbar-nav flex-row justify-content-center align-items-center">
      <li class="nav-item mx-2">
        <%= link_to root_path, class: "nav-link text-center" do %>
          <i class="fa-solid fa-house"></i>
          <span class="d-block text-center">ホーム</span>
        <% end %>
      </li>
      <li class="nav-item mx-2">
        <%= link_to root_path, class: "nav-link text-center" do %>
          <i class="fa-solid fa-magnifying-glass"></i>
          <span class="d-block text-center">サーチ</span>
        <% end %>
      </li>
      <li class="nav-item mx-2">
        <%= link_to root_path, class: "nav-link text-center" do %>
          <i class="fa-solid fa-pen-to-square"></i>
          <span class="d-block text-center">ポスト</span>
        <% end %>
      </li>
      <li class="nav-item mx-2">
        <%= link_to root_path, class: "nav-link text-center" do %>
          <i class="fas fa-map-marked-alt"></i>
          <!--<i class="fa-solid fa-map"></i>-->
          <!--<span class="d-block text-center">マップ</span>-->
        <% end %>
      </li>
    </ul>
  </div>
</nav>