<header>
  <nav class='navbar navbar-expand-lg navigation navbar-warning bg-warning'>
    <%= link_to root_path, class: 'navbar-brand' do %>
      <%= image_tag('bread_sample.jpg', class: 'img-fluid', alt: 'Bread Sample') %>
    <% end %>
    <button class='navbar-toggler' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent'
      aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation'>
      <span class='navbar-toggler-icon'></span>
    </button>

    <div class='collapse navbar-collapse' id='navbarSupportedContent'>
      <ul class='navbar-nav ms-auto main-nav align-items-center'>

        <li class='nav-item dropdown dropdown-slide'>
          <%= link_to root_path, class: 'nav-link', data: { toggle: 'dropdown' }, aria: { haspopup: 'true', expanded: 'false' }, id: 'header-profile' do %>
            マイページ
            <%= image_tag('bread_sample.jpg', class: 'img-fluid rounded-circle mr-2', alt: 'Bread Sample', width: '40', height: '40', style: 'object-fit: cover; object-position: center;') %>
          <% end %>
        </li>
      </ul>
    </div>
  </nav>
</header>
#仮でリンクをroot_pathに