<div class="container my-5">
  <div class="row">
    <div class="col-md-8 offset-lg-2">
      <h1 class="fw-bold ps-3">新規作成（仮）</h1>
      <div class="p-3 pt-4">
        <%= render 'form', post: @post %>
      </div>
    </div>
  </div>
</div>